*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
.CardInfo1{
    display: flex;
    justify-content: center;
     overflow: hidden;
}

.card1{
    position: relative;
    width: 750px;;
    height: 350px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* background: linear-gradient(135deg,red,yellow); */
    background-color: #111;
    margin-top: 40px;
    overflow: hidden;

}
/* ----------------img------------------ */



 .card-img1{
    position:absolute;
    bottom: -36%;
    left: 25%;
    transform: translateX(-50%);
    height: 350px;
transition: 1s;
visibility: visible;
overflow:hidden;
}
.card-img1:hover{
    height: 450px;
   left: 80%;
    scale: none;
   
}
.card1:hover{
    background: linear-gradient(145deg,red,pink);
    cursor: pointer;
}
.card1 .content1{
    position: relative;
    width: 95%;
    left: 20px;
    padding: 20px 20px 10px 10px;
    opacity: 1;
    visibility: hidden;
    transition: 0.5s;
    
}
.card1:hover .content1{
    opacity: 1;
    visibility: visible;
    left: -0%;
    transition: 0.5s;
    
}
 .card-title1{
    color: aliceblue;
    text-transform: uppercase;
    font-size: 1.5rem;
    width: 50%;
    line-height: 2rem;
padding-left: 2px;
}
 .card-p1{
    color: white;
    width: 52%;
}

/* ------------media---------------- */

@media (max-width:751px) {

    .card1{
      background-color: rgb(209, 19, 5);
width: 450px;
height: 220px;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      margin-top: 30px;
      overflow: hidden;
    }
    .card-img1{
        position:absolute;
        bottom: -10%;
        left: -25%;
        transform: translateX(-10%);
        height: 180px;
    transition: 1s;
    }
    .card-img1:hover{
        height: 140px;
        left: 70%;
    }
    .card-p1{
        color: white;
        width: 80%;
        font-size: small;
    }
.card-title1{
    font-size: medium;
}
}

@media (max-width:360px) {
.card1{
    overflow: hidden;
    background: rgb(158, 15, 146);
}

.card-img1{
    position:absolute;
    bottom: -4.5%;
    left: -20%;
    transform: translateX(-10%);
    height: 140px;
transition: 1s;
visibility: visible;
overflow: hidden;
}
}

@media (max-width:280px) {
    .card1{
        overflow: hidden;
        background: rgb(15, 148, 35);
    }
    
    .card-img1{
        position:absolute;
        bottom: -18%;
        left:  -7%;
        transform: translateX(-10%);
        height: 100px;
    transition: 1s;
    visibility: visible;
    overflow: hidden;
    }
    .card-img1:hover{
        visibility: hidden;
        
    }
    .card-p1{
       width: 100%;
        font-size: x-small;
    }.card-title{
        font-size: small;
        width: 85%;
    }
    }